// brand specific
$RepetitioPurple: #5a3284;
$RepetitioDarkPurple: #2d005a;
$RepetitioPink: #ce9aff;
$RepetitioRed: #b71c1c;

// general
$Black: #000000;
$Dark: #1f2c24;
$DarkGrey: #29292c;
$MediumGrey: #9b9aa1;
$LightGray: #D3D3D3;
$LightWarmGray: #f5f5f5;
$Grey: #989aa2;
$OffWhite: #b7bdc5;
$Light: #fff;
$Transparent: rgba(0, 0, 0, 0);
$Red: #ed3e44;
$OffWhite: #FCE3E3;
$XDarkGrey: #464857;

$BaseText: $Light;
$DarkText: $Dark;
$SectionBackground: $LightWarmGray;
$Background: $Light;
$Selected: $Red;
$Unselected: $LightGray;

$Primary: $RepetitioPurple;
$Secondary: $RepetitioPink;
$Accent: $RepetitioRed;
$MainBgColour: $Black;